.tagsWrapper {
  width: 90%;
  padding-left: 5%;
  padding-right: 5%;
  background-color: rgba(17, 108, 153, 0.733);
  padding-top: 2rem;
  padding-bottom: 6rem;
  /* margin-bottom: 5rem; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tagsTitle {
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: xx-large;
  font-style: bold;
  color: rgb(170, 203, 253);
  text-shadow: 3px 3px 4px rgb(17, 108, 153);
}

.tagsMainContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.tagContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  max-width: 750px;
  border-style: solid;
  border-color: rgb(3, 92, 137);
  border-width: 2px;
  border-radius: 20px;
  margin-bottom: 1rem;
  width: 45%;
  height: 95px;
  background-color: rgb(187, 210, 245);
}

.artistImage {
  border-radius: 50%;
  width: 60px;
  height: 60px;

  box-shadow: 3px 3px 3px 3px rgba(231, 214, 28, 0.475);
}

.flagImage {
  height: 50px;
  width: auto;

  box-shadow: 3px 3px 3px 3px rgba(5, 39, 133, 0.733);
}

.tagName {
  width: 200px;
  color: rgb(20, 59, 116);
  font-size: x-large;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-stretch: wider;
  font-weight: bold;
  font-style: italic;
}

.tagGenre {
  width: 120px;
  color: rgb(82, 34, 29);
  font-weight: bold;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: normal;
  font-size: medium;
}