.tagsMainContainer {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.tagContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  max-width: 550px;
  border-style: solid;
  margin-top: 2rem;
  width: 35%;
  height: 100px;
  background-color: rgb(187, 210, 245);
}

.artistImage {
  border-radius: 50%;
  width: 75px;
  height: 75px;
}

.flagImage {
  height: 60px;
  width: auto;
}

.tagName {
  width: 80px;
}

.tagGenre {
  width: 80px;
}